<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form class="form-in-line" (ngSubmit)="addTask()" #taskForm="ngForm">
                <div class="form-group">
                    <label for="content-field" class="sr-only"></label>
                    <input #contentField type="text" id="content-field" class="form-control" required placeholder="Please enter a task" [(ngModel)]="currentTask.content" name="content">
                </div>
                <button type="submit" class="btn btn-primary pull-right" [disabled]="taskForm.form.invalid"><i class="fa fa-tasks" aria-hidden="true"></i> Add task</button>
            </form>
        </div>
    </div>
    <div class="row">
    <app-card *ngFor="let task of tasks" [task]="task" ></app-card>
    </div>
</div>