.card {
    border-radius: 0;
}
.card,
.card-footer {
    background-color: #ffffa5;
    border: none;
}
.card-footer {
    text-align: right;
}
i {
    color: #ff0000;
    padding-right: .25em;
}
i.task {
    color: #000000;
    padding-bottom: .35rem;
}